/* This code is a fix for the interaction between the Hazy skin and upcoming song extention */

.main-nowPlayingWidget-nowPlaying[role="contentinfo"]{
    display: flex !important;
    flex: 1 1 75% !important;
    max-width: max-content !important;
}

.main-nowPlayingWidget-nowPlaying#upcomingSongDiv{
    display: flex !important;
    padding-left: 10px ;
    padding-top: 10px;
    flex: 1 1 25% !important;
}
    
#upcomingSongDiv .cover-art {
    margin-top: 0 !important;
}

@media(max-width:1000px){
        .main-nowPlayingWidget-nowPlaying#upcomingSongDiv{
            display:none !important;
        }
}